.94_978 { 
	overflow:hidden;
}.e94_978 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:568px;
	position:absolute;
}.e94_979 { 
	background-color:rgba(255, 234.38324868679047, 161.28748297691345, 1);
	width:95px;
	height:126px;
	position:absolute;
	left:216px;
	top:219px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e94_980 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:71px;
	height:66px;
	position:absolute;
	left:226px;
	top:234px;
}.e94_981 { 
	background-color:rgba(255, 234.38324868679047, 161.28748297691345, 1);
	width:96px;
	height:127px;
	position:absolute;
	left:113px;
	top:362px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e94_982 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:71px;
	height:66px;
	position:absolute;
	left:126px;
	top:371px;
}.e94_983 { 
	background-color:rgba(255, 234.38324868679047, 161.28748297691345, 1);
	width:95px;
	height:127px;
	position:absolute;
	left:216px;
	top:362px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e94_984 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:71px;
	height:66px;
	position:absolute;
	left:230px;
	top:371px;
}.e94_985 { 
	background-color:rgba(255, 234.38324868679047, 161.28748297691345, 1);
	width:96px;
	height:126px;
	position:absolute;
	left:113px;
	top:219px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e94_986 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:71px;
	height:66px;
	position:absolute;
	left:127px;
	top:234px;
}.e94_987 { 
	background-color:rgba(255, 234.38324868679047, 161.28748297691345, 1);
	width:320px;
	height:106px;
	position:absolute;
	left:0px;
	top:54px;
}.e94_988 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}.ei94_988_9_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}.ei94_988_9_4 { 
	width:20.759918212890625px;
	height:9.066667556762695px;
	position:absolute;
	left:287.0044250488281px;
	top:13.866666793823242px;
}.ei94_988_9_5 { 
	opacity:0.3499999940395355;
	width:18.773345947265625px;
	height:9.066667556762695px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2.6666667461395264px;
	border-top-right-radius:2.6666667461395264px;
	border-bottom-left-radius:2.6666667461395264px;
	border-bottom-right-radius:2.6666667461395264px;
}.i94_988_9_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}.ei94_988_9_6 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.4000000059604645;
	width:1.133270263671875px;
	height:3.1999988555908203px;
	position:absolute;
	left:19.62664794921875px;
	top:2.9333343505859375px;
}.ei94_988_9_7 { 
	background-color:rgba(0, 0, 0, 1);
	width:15.360015869140625px;
	height:5.866666793823242px;
	position:absolute;
	left:1.7066650390625px;
	top:1.6000003814697266px;
	border-top-left-radius:1.3333333730697632px;
	border-top-right-radius:1.3333333730697632px;
	border-bottom-left-radius:1.3333333730697632px;
	border-bottom-right-radius:1.3333333730697632px;
}.ei94_988_9_8 { 
	background-color:rgba(0, 0, 0, 1);
	width:13.08441162109375px;
	height:8.80000114440918px;
	position:absolute;
	left:269.6533203125px;
	top:13.864538192749023px;
}.ei94_988_9_9 { 
	background-color:rgba(0, 0, 0, 1);
	width:13.08441162109375px;
	height:3.8065032958984375px;
	position:absolute;
	left:0px;
	top:-7.105427357601002e-15px;
}.ei94_988_9_10 { 
	background-color:rgba(0, 0, 0, 1);
	width:8.523681640625px;
	height:2.9163131713867188px;
	position:absolute;
	left:2.28173828125px;
	top:3.0447616577148438px;
}.ei94_988_9_11 { 
	background-color:rgba(0, 0, 0, 1);
	width:3.963531494140625px;
	height:2.7080001831054688px;
	position:absolute;
	left:4.56072998046875px;
	top:6.091999053955078px;
}.ei94_988_9_12 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.506668090820312px;
	height:8.533332824707031px;
	position:absolute;
	left:250.87998962402344px;
	top:14.13333511352539px;
}.ei94_988_9_13 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.55999755859375px;
	height:3.200000762939453px;
	position:absolute;
	left:0px;
	top:5.333332061767578px;
}.ei94_988_9_14 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.55999755859375px;
	height:4.80000114440918px;
	position:absolute;
	left:3.9822235107421875px;
	top:3.7333316802978516px;
}.ei94_988_9_15 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.560028076171875px;
	height:6.666667938232422px;
	position:absolute;
	left:7.9644317626953125px;
	top:1.8666648864746094px;
}.ei94_988_9_16 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.55999755859375px;
	height:8.533331871032715px;
	position:absolute;
	left:11.946670532226562px;
	top:-9.5367431640625e-7px;
}.ei94_988_9_17 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.9900000095367432;
	width:24.332002639770508px;
	height:8.876953125px;
	position:absolute;
	left:24.98206901550293px;
	top:14.00062370300293px;
}.ei94_988_9_18 { 
	width:6.950000762939453px;
	height:8.876953125px;
	position:absolute;
	left:0px;
	top:0px;
}.ei94_988_9_19 { 
	width:3.5687503814697266px;
	height:3.380859375px;
	position:absolute;
	left:1.5750007629394531px;
	top:1.23046875px;
}.ei94_988_9_20 { 
	width:1.9874992370605469px;
	height:1.8515625px;
	position:absolute;
	left:8.531499862670898px;
	top:1.3359375px;
}.ei94_988_9_21 { 
	width:1.9874992370605469px;
	height:1.8515625px;
	position:absolute;
	left:8.531499862670898px;
	top:5.68359375px;
}.ei94_988_9_22 { 
	width:7.168750762939453px;
	height:8.455078125px;
	position:absolute;
	left:12.069250106811523px;
	top:0.2109375px;
}.ei94_988_9_23 { 
	width:2.9375px;
	height:4.412109375px;
	position:absolute;
	left:13.569250106811523px;
	top:1.41796875px;
}.ei94_988_9_24 { 
	width:3.9624977111816406px;
	height:8.455078125px;
	position:absolute;
	left:20.3695011138916px;
	top:0.2109375px;
}.e94_989 { 
	color:rgba(0, 0, 0, 1);
	width:258px;
	height:64px;
	position:absolute;
	left:15px;
	top:75px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:1.25;
	line-height:px;
}.e94_990 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:67px;
	height:67px;
	position:absolute;
	left:25px;
	top:206px;
}.e94_991 { 
	background-color:rgba(255, 234.38324868679047, 161.28748297691345, 1);
	width:96px;
	height:126px;
	position:absolute;
	left:10px;
	top:219px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e94_992 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:22px;
	position:absolute;
	left:26px;
	top:312px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:1.25;
	line-height:px;
}.e94_993 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:71px;
	height:66px;
	position:absolute;
	left:20px;
	top:234px;
}.e94_994 { 
	width:53px;
	height:37px;
	position:absolute;
	left:29px;
	top:245px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e94_995 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:25px;
	position:absolute;
	left:129px;
	top:309px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:1.25;
	line-height:px;
}.e94_996 { 
	width:39px;
	height:53px;
	position:absolute;
	left:146px;
	top:241px;
	background-image:url(images/istockphoto_636883884_612x612_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e94_997 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:62px;
	height:61px;
	position:absolute;
	left:240px;
	top:239px;
}.e94_998 { 
	width:46px;
	height:34px;
	position:absolute;
	left:237px;
	top:241px;
}.e94_999 { 
	width:63px;
	height:45px;
	position:absolute;
	left:232px;
	top:245px;
	background-image:url(images/png_clipart_coffee_a_cup_of_coffee_others_cafe_illustrator_removebg_preview__1__3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e94_1000 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:241px;
	top:310px;
	font-family:Roboto;
	text-align:center;
	font-size:13px;
	letter-spacing:1.25;
	line-height:px;
}.e94_1001 { 
	background-color:rgba(255, 234.38324868679047, 161.28748297691345, 1);
	width:96px;
	height:127px;
	position:absolute;
	left:10px;
	top:362px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e94_1002 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:19px;
	position:absolute;
	left:41px;
	top:455px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:1.25;
	line-height:px;
}.e94_1003 { 
	color:rgba(0, 0, 0, 1);
	width:43px;
	height:16px;
	position:absolute;
	left:144px;
	top:456px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:1.25;
	line-height:px;
}.e94_1004 { 
	width:47px;
	height:34px;
	position:absolute;
	left:134px;
	top:384px;
}.e94_1005 { 
	width:78px;
	height:71px;
	position:absolute;
	left:122px;
	top:366px;
	background-image:url(images/urbanbrush_20200615004111976606_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e94_1006 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:25px;
	position:absolute;
	left:251px;
	top:449px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:1.25;
	line-height:px;
}.e94_1007 { 
	width:31px;
	height:37px;
	position:absolute;
	left:287px;
	top:531px;
	background-image:url(images/_____2024_06_24_151429_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e94_1008 { 
	width:57px;
	height:58px;
	position:absolute;
	left:233px;
	top:377px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e94_1009 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:71px;
	height:66px;
	position:absolute;
	left:24px;
	top:371px;
}.e94_1010 { 
	width:60px;
	height:49px;
	position:absolute;
	left:28px;
	top:380px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
	background-image:url(images/pngtree_a_new_motor_car_illustration_image_1408515_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}